<ons-page ng-controller="DetailController">

	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button class="toolbar-button--quiet" ui-sref="^">
				<ons-icon class="ion-ios-arrow-back ons-back-button__icon"></ons-icon>
				Back
			</ons-toolbar-button>
		</div>

		<div class="center">Details</div>
	</ons-toolbar>

	<ons-list modifier="inset" style="margin-top: 10px">
		<ons-list-item class="item">
			<ons-row>
				<ons-col width="60px">
					<div class="item-thum"></div>
				</ons-col>
				<ons-col>
					<header>
						<span class="item-title">{{item.title}}</span>
						<span class="item-label">{{item.label}}</span>
					</header>
					<p class="item-desc">{{item.desc}}</p>
				</ons-col>
			</ons-row>
		</ons-list-item>

		<ons-list-item modifier="chevron" ng-click="doSomething()">
			<ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
			Add a note
		</ons-list-item>
	</ons-list>

	<ons-list style="margin-top: 10px">
		<ons-list-item class="item" ng-repeat="i in [1,2,3]">
			<header>
				<span class="item-title">Lorem ipsum dolor sit amet</span>
			</header>
			<p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</ons-list-item>
	</ons-list>

	<br>

</ons-page>