<ons-page>
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="myMenu.toggle()">
				<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
			</ons-toolbar-button>
		</div>
		<div class="center">Main</div>
		<div class="right"><ons-toolbar-button ui-sref="navigator.master">Go to MasterDetail</ons-toolbar-button></div>
	</ons-toolbar>

	<ons-row style="margin-top: 100px; text-align: center;">
		<ons-col>
			<ons-button modifier="light" ng-click="myMenu.toggleMenu()">
				Toggle Menu
			</ons-button>
			<p style="color: #999; font-size: 13px;">Click "Toggle Menu" to close/open menu,<br> You can also swipe the page left/right.</p>
			<hr style="width:20%">
			<p style="color: #999; font-size: 13px;"> Let's check MasterDetail items from here:</p>
			<ons-button ui-sref="navigator.master.detail({index: 0})">
				Item 1
			</ons-button>
			<ons-button ui-sref="navigator.master.detail({index: 1})">
				Item 2
			</ons-button>
			<ons-button ui-sref="navigator.master.detail({index: 2})">
				Item 3
			</ons-button>
			<ons-button ui-sref="navigator.master.detail({index: 3})">
				Item 4
			</ons-button>
		</ons-col>
	</ons-row>
</ons-page>